{{template "base" .}}
    {{define "title"}}Create a New Snippet{{end}}
    {{define "body"}}
        <form action='/snippet/create' method='POST'>
        {{with .Form}}
        <div>
            <label>Title:</label>
            {{with .Errors.Get "title"}}
                <label class="error">{{.}}</label>
            {{end}}
            <input type='text' name='title' value='{{.Get "title"}}'>
        </div>
        <div>
            <label>Content:</label>
            {{with .Errors.Get "content"}}
                <label class="error">{{.}}</label>
            {{end}}
            <textarea name='content'>{{.Get "content"}}</textarea>
        </div>
        <div>
            <input type='submit' value='Publish snippet'>
        </div>
        {{end}}
        </form>
    {{end}}
